
:root {
    --pink-light: linear-gradient(to right, #F8BFBF 0%, #EE8B8B 100%);  /* Rosa claro */
    --pink-medium: #EE8B8B; 
    --pink-dark: #CE9898;  
    --black: #423A3A;
    --white: #fff;

}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    font-family: "Josefin Sans", sans-serif;
    background-image: url('./imgs/background-pink.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.section-container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
    padding: 50px;
    display: flex;
    justify-content: space-between;
   
}

@media screen and (max-width:500px) {
    .section-container{
        background-image: none;

    }
}

.section-container .logo{
    max-width: 200px;
}

.container{
    max-width: 445px;
    border: 1px solid red;
    margin: auto 0px;
}

.txt-container h1{
    color: var(--pink-dark);
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 17.32px;
    
}

.txt-container h1 span{
    color: var(--black);
    font-weight: 600;
}

.txt-container p{
    color: var(--pink-dark);
    font-size: 16px;
    font-weight: 400;
    margin: 32px 0px 40px;
    line-height: 28px;
}


.email-container{
    display: flex;
    align-items: center;
    height: 56px;
    border: 1px solid var(--pink-dark);
    border-radius: 50px;
    position: relative;
}

.email-container:has(input:focus) {
    border: 3px solid var(--pink-medium);
}


.email-container input{
    width: 100%;
    padding: 13px 32px;
    font-size: 16px;
    border: 0 none;
    outline: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: none;
}

.email-container input::placeholder{
    color: var(--pink-dark);
}

#info-erro{
    margin-right: 16px;
    display: none;
}


.btn-submit{
    background: var(--pink-light);
    border: none;
    width: 100px;
    min-width: 100px;
    height: 56px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.btn-submit:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

